{% extends 'base.html' %}
{% block title %}{{session["current_survey"]}}{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
    <form action="/answer" method="POST">
        {% if surveys[session["current_survey"]].questions[session['current_survey_question']-1].choices == ["Yes",
        "No"] %}
        <h4>{{surveys[session["current_survey"]].questions[session['current_survey_question']-1].question}}</h4>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="Yes" name="choice" value="Yes" checked>
            <label for="Yes" class="form-check-label">Yes</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="No" name="choice" value="No">
            <label for="No" class="form-check-label">No</label>
        </div>

        {% else %}
        <h4>{{surveys[session["current_survey"]].questions[session['current_survey_question']-1].question}}</h4>
        {% for choice in surveys[session["current_survey"]].questions[session['current_survey_question']-1].choices %}
        <div class="form-check">
            <input type="radio" class="form-check-input" id="{{choice}}" name="choice" value="{{choice}}" checked>
            <label for="{{choice}}" class="form-check-label">{{choice}}</label>
        </div>
        {% endfor %}
        {% endif %}
        <button class="btn btn-primary mt-2">Submit</button>
    </form>
</div>
{% endblock %}